<VirtualHost *:{{ http_port }}>
        ServerAdmin webmaster@localhost
        DocumentRoot {{ document_root }}
        ErrorLog {{ error_log_path }}
        CustomLog {{ access_log_path }} combined
</VirtualHost>

